h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    color: blue;
    font-size: xxx-large;
}

h2 {
    color: darkcyan;
    font-size: large;
}

.button {
    font-size: x-large;
    width: 30%;
    height: 50px;
    border-radius: 10px;
}

* {
    text-align: center;
}

div {
    background-color: lightgreen;
    border-radius: 100px;
    padding: 0;
    margin: 10px;
}

aside {
    vertical-align: middle;
    horiz-align: left;
}

/* 01.22. */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}


/* Style for the star icon */
.fa-star {
    margin-left: 5px; /* Add some spacing between the text and the icon */
    color: #ffcc00; /* Change the color to match the text */
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffcc00; /* Change the color to indicate the selected rating */
}


.signup-and-login-caption{}

#reg {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left: 100px;
    margin-right:100px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#login {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left: 100px;
    margin-right:100px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

input {
    width: 90%; /* A szélesség beállítása */
    padding: 12px 20px; /* A belső térköz beállítása */
    margin: 8px 0; /* A külső térköz beállítása */
    box-sizing: border-box; /* A szélesség a belső térközt és a keretet is magában foglalja */
    border: 3px solid #ccc; /* A keret beállítása */
    border-radius: 4px; /* A keret sugara */
}

.rate-us {
    font-size: 30px; /* Adjust the font size to match the star labels */
    text-align: right; /* Align the text to the right */
    color: #cc0; /* Change the color to make it stand out */
    margin-right: 10px; /* Add some margin for spacing */
}

.active {
    font-size: 30px; /* Adjust the font size to match the star labels */
    text-align: right; /* Align the text to the right */
    background-color: gray;
    color: #cc0;
    margin-right: 10px; /* Add some margin for spacing */
}
